@charset "UTF-8";
*{
    font-family:'Arial Narrow', Arial, sans-serif;
}
.quadromenu{
    width: 100%;
    height: 250px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
}
.menu1{
    list-style: none;
    display: flex; 
    margin-top: 80px;
}

.menu1 li {
    display: block;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px ;
    background-color: #f5a25ebd;
    cursor: pointer;
    transition: 1s;
    box-shadow: 5px 5px 10px 1px #333;
}
.menu1 li a{
    color: #000;
    text-decoration: none;
}
.menu1 li:hover{
    background-color:#7c4c25bd; 
}
.menu1 a:hover{
    color: #fff;
}


#icone{
   margin: auto;
   width: 80px;
   margin-left: 0;
   
}
.imagen1{
    margin: auto;
}

.containe{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/*cardapio */

.cardapio{
    max-width: 1040px;
    margin: auto;
    
}
footer{ 
    clear: both;
    border-top: 5px solid #606060;
    border-bottom: 5px solid #606060;
    background-color: #333131;
}
footer p{
    text-align: center;
    color: wheat;
}
footer p a{
    color: wheat;
}

    
