@charset "UTF-8";

nav#menu {
    display: block;
}
nav#menu ul {
   list-style: none;
   text-transform: uppercase;
   position: absolute;
   top: 100px;
   left: 580px;
}
nav#menu li {
    display: inline-block;
    background-color: #f5a25ebd;
    padding: 10px;
    margin: 2px;
    transition: 1s;
    border-radius: 8px;
    box-shadow: 4px 4px 7px 0px #606060e5;
}
nav#menu li:hover {
    background-color: #814b1fbd; 
}
nav#menu h1 {
    display: none;
}
nav#menu a {
    color: #000000;
    text-decoration: none;
}
nav#menu a:hover{
    color: white;
}
/*cardapio */

.cardapio img{
    margin-top: 200px;
    margin-left: 400px;
    margin-right: 100px;
    display: flex;
    box-shadow: 5px 5px 20px 2px rgb(75, 75, 75);
    border-radius: 10px;
}
footer.rodape{ 
    clear: both;
    border-top: 30px solid #606060;
    border-bottom: 40px solid #606060;
    margin-top: 40px;
    background-color: #606060;
}
footer.rodape p{
    text-align: center;
    color: wheat;
}
footer.rodape p a{
    color: wheat;
}