@charset "UTF-8";
*{
    font-family:'Arial Narrow', Arial, sans-serif;
}
.garanhuns {
    margin-top: 200px;
    text-align: center;
}
.garanhuns img{
    border-radius: 10px;
    box-shadow: 5px 5px 20px 2px rgb(75, 75, 75);
}

.quadrado{
width: 1020px;
height: 600px;
background-color: rgb(233, 219, 205);
margin-top: 30px;
margin-left: 440px;
border-radius: 10px; 
position: relative;
box-shadow: 5px 5px 3px 0px #606060c7;
}
.contato{
   padding-top: 100px;
   padding-left: 100px;
   font-size: 30px;
   color: rgb(85, 66, 38);
}
/*google mapa */
.google-mapa{
    margin-left: 445px;
    margin-right: 435px;
    margin-top: 30px;
    text-align: center;
    box-shadow: 5px 5px 20px 2px rgb(75, 75, 75);
    border-radius: 10px;
}
.lista li{
    list-style: none;
    font-size: 20px;
    color: rgba(3, 3, 3, 0.877);
    padding-left: 65px;
    padding-top: 20px;

}
.input{
    margin-left: 600px;
    margin-top: -400px;
}
.input input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    
}
.input input:hover{
    border-color: rgb(235, 44, 31);
    box-shadow: 5px 5px 10px 0px rgb(75, 75, 75);  
}
.butao{
    cursor: pointer;
    background-color: rgb(243, 166, 103);
    font-size: 18px;
}
.butao:hover{
    color: rgb(255, 253, 253);
    border-color: coral;
}
.quadrado img{
    position: absolute;
    margin-top: 70px;
    margin-left: 50px;
}
.detalhe {
    margin-top: -40px;
}
.input img{
    margin-top: -20px;
    margin-left: -19px;
}
.detalhe2{
    margin-top: 30px;
    
}