@charset "UTF-8";
*{
    font-family:'Arial Narrow', Arial, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

.menu1{
    list-style: none;
    display: flex; 
    margin-top: 80px;
}

.menu1 li {
    display: block;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px ;
    background-color: #f5a25ebd;
    cursor: pointer;
    transition: 1s;
    box-shadow: 5px 5px 10px 1px #333;
}
.menu1 li a{
    color: #000;
    text-decoration: none;
}
.menu1 li:hover{
    background-color:#7c4c25bd; 
}
.menu1 a:hover{
    color: #fff;
}


#icone{
   margin: auto;
   width: 80px;
   margin-left: 0;
   
}
.imagen1{
    margin: auto;
}

.containe{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/*foto Garanhuns */
.container img{
    max-width: 1200px;
    margin: auto; 
}
.garanhuns img{
    margin-top: -20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 2px rgb(75, 75, 75);
    width: 1200px;
}
.quadrado{
    margin-top: 10px;
}
.contato{
    margin-top: 100px;
 
}
/*google mapa */
.google-mapa{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
}
.lista li{
    list-style: none;
    font-size: 20px;
    color: rgba(3, 3, 3, 0.877);
    padding-left: 65px;
    padding-top: 20px;
    
}
.input{
    margin-left: 600px;
    margin-top: -400px;
}
.input p{
    margin-right: 600px;
}
.input input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    
}
.input input:hover{
    border-color: rgb(235, 44, 31);
    box-shadow: 5px 5px 10px 0px rgb(75, 75, 75);  
}
.butao{
    cursor: pointer;
    background-color: rgb(243, 166, 103);
    font-size: 18px;
}
.butao:hover{
    color: rgb(255, 253, 253);
    border-color: coral;
}
.quadrado img{
    position: absolute;
    margin-top: 70px;
    margin-left: 100px;
}
.detalhe {
    margin-top: -40px;

}
.input img{
    margin-top: -20px;
    margin-left: -19px;
}
.detalhe2{
    margin-top: 30px;
    
}