@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Titillium+Web);
body{
    margin: 0px;
    padding: 0px;
    /*height: 100vh;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/ 
    background-image: url('fotos-acaraje/bloquinhos.jpg'); 
    }
/*Configuração do menu principal */
nav#menu {
    display: block;
    margin-bottom: 50px;
    z-index: 10; /* deixa imagem ou texto sempre na frente */
}
nav#menu ul {
    font-family: arial, sans-serif;
    position: absolute; 
    left: 30%;
    right: 0;
    z-index: 10;   /* deixa imagem ou texto sempre na frente */ 
    top: 100px;       
}
nav#menu li {
    z-index: 10;
    display: inline-block;
    padding: 10px;
    margin: 2px;
    background-color: #f5a25ebd;
    border-radius: 5px;
    box-shadow: 4px 4px 7px 0px #606060e5;
    cursor: pointer;  /*curso vira uma mão sinha quando passa no botão*/ 
}
nav#menu li:hover a{  /*muda de cor as letra, quando passa por mouse */
    color: white;  
}
nav#menu li a{
    text-decoration: none;
    color: black;
}
nav h1 {
    font-size: 80%;
}
/*Configuração da imagem logo de jane*/   
div#imagen1 img {
    position:absolute;
    width: 300px;
    margin-left: 11%;
    margin-top: 40px;
    z-index: 10;  /* deixa imagem ou texto sempre na frente */  
}
/*Configuração da imagens estilo carroseu*/
.slider{
    
    width: 1500px; /*configurando o tamanho das fotos width: 1000px;*/
    height: 500px; /*largura da foto  height: 600px;*/
    border-radius: 10px;
    overflow: hidden; /*deixando a barra de rolagen em hidden */
     /*teste margin-left: 20px; */
      /*teste margin-right: */
    box-shadow: 5px 5px 3px 0px #606060c7;
    /* max-height: 700px;*/
    margin-left: 10%;
    margin-right: 10%;
    
}
.slides{
    width: 500%;  /*configurando o slider*/
    height: 500px;
    display: flex; /* display: flex;*/
    
}
.slides input{
    display: none; 
}
.slide{
    width: 20%;
    transition: 2s;   
}
.slide img{
    width: 1500px;  /*a largura do slider 1000px*/
    height: 500px; /*a altura do slider height: 600px; */
     /*teste   min-height: 600px;*/
      /*teste  min-width: 600px;*/
     
}
/*css for manual slide navigation */ 
.navigation-manual{
    position: absolute;  /*configurando os botões do slider*/
    width: 1500px;   /*  width: 1500px; */
    margin-top: -40px; /*margin-top: 70px;*/
    display: flex; /*display: flex;*/
    justify-content: center;  
}
.manual-btn{
    border: 2px solid #40D3DC; /*configurando os botões do slider*/
    padding: 5px;
    border-radius: 10px;
    cursor: pointer; /*deixando o mouse uma mão zinha quando passa pelo os botões*/
    transition: 1s;   
}
.manual-btn:not(:last-child){
    margin-right: 40px; /*configurando a distancia de um botao p o outro*/   
}
.manual-btn:hover{
    background: #40D3DC; /*cor do botao quando passa o mouse*/
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/*css for automatic navigation*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 1500px;  /*  width: 1000px; */
    justify-content: center;
    margin-top: 460px;  /* margin-top: 520px;*/
}
.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
}
nav#cardapio {
    text-align: center;
    font-size: 20pt;
    background-color: #f5a25ebd;
}
nav#cardapio :hover {
    color: white;
}
div#fotoCardapio img{
    margin-left: 20%;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 0px #606060c7;
    
}








   




   



    