@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Titillium+Web);
body{
    margin: 0px;
    padding: 0px;
    /*height: 100vh;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/ 
    background-image: url('fotos-acaraje/bloquinhos.jpg'); 
    }

#icone{
    position: absolute;
    top: 60px;
    left: 1350px;
}   
/*logo de jane */
.imagen1{
    position: absolute;
    left: 250px;
    top: 20px;
}
/*configuraçao do menu */

nav#menu {
    display: block;
}
nav#menu ul {
   list-style: none;
   text-transform: uppercase;
   position: absolute;
   top: 100px;
   left: 580px;
}
nav#menu li {
    display: inline-block;
    background-color: #f5a25ebd;
    padding: 10px;
    margin: 2px;
    transition: 1s;
    border-radius: 8px;
    box-shadow: 4px 4px 7px 0px #606060e5;
}
nav#menu li:hover {
    background-color: #814b1fbd; 
}
nav#menu h1 {
    display: none;
}
nav#menu a {
    color: #000000;
    text-decoration: none;
}
nav#menu a:hover{
    color: white;
}

/*Configuração da imagens estilo carroseu*/
.slider{
    
    width: 1200px; /*configurando o tamanho das fotos width: 1000px;*/
    height: 500px; /*largura da foto  height: 600px;*/
    border-radius: 10px;
    overflow: hidden; /*deixando a barra de rolagen em hidden */
     /*teste margin-left: 20px; */
      /*teste margin-right: */
    box-shadow: 5px 5px 3px 0px #606060c7;
    /* max-height: 700px;*/
    margin-left: 350px;
    margin-right: 10%;
    margin-top: 200px;
}
.slides{
    width: 500%;  /*configurando o slider*/
    height: 500px;
    display: flex; /* display: flex;*/
}
.slides input{
    display: none; 
}
.slide{
    width: 20%;
    transition: 2s;   
}
.slide img{
    width: 1200px;  /*a largura do slider 1000px*/
    height: 500px; /*a altura do slider height: 600px; */
     /*teste   min-height: 600px;*/
      /*teste  min-width: 600px;*/
     
}
/*css for manual slide navigation */ 
.navigation-manual{
    position: absolute;  /*configurando os botões do slider*/
    width: 1200px;   /*  width: 1500px; */
    margin-top: -40px; /*margin-top: 70px;*/
    display: flex; /*display: flex;*/
    justify-content: center;  
}
.manual-btn{
    border: 2px solid #40D3DC; /*configurando os botões do slider*/
    padding: 5px;
    border-radius: 10px;
    cursor: pointer; /*deixando o mouse uma mão zinha quando passa pelo os botões*/
    transition: 1s;   
}
.manual-btn:not(:last-child){
    margin-right: 40px; /*configurando a distancia de um botao p o outro*/   
}
.manual-btn:hover{
    background: #40D3DC; /*cor do botao quando passa o mouse*/
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/*css for automatic navigation*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 1200px;  /*  width: 1000px; */
    justify-content: center;
    margin-top: 460px;  /* margin-top: 520px;*/
}
.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
}

/*RODA PÉ */

footer.rodape{ 
    clear: both;
    border-top: 30px solid #606060;
    border-bottom: 40px solid #606060;
    margin-top: 85px;
    background-color: #606060;
    
}
footer.rodape p{
    text-align: center;
    color: wheat;
}
footer.rodape p a{
    color: wheat;
}